{% extends "base.html" %}

{% block title %}ADD NOTE{% endblock %}

{% block add_note_link %}{% endblock %}

{% block sticky_div %}
<h1 align="center" class="headings">ADD A NEW NOTE</h1>
{% endblock %}

{% block content %}
<!--/*form conrol*/-->
<form method="POST">
	<textarea name="note" id="note" class="fixed-size-textarea form control"></textarea>
	<br/>
	<br/>
	<div align="center">
		<button type="submit" class="btn btn-primary"> Add Note</button>
		<a class="btn btn-primary" href="/previous-notes" >Previous Notes<a>
	</div>
</form>

{% endblock %}
