{% extends "base.html" %}

{% block title %}OTHER NOTES{% endblock %}

{% block previous_note_link %}{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>

<div align="right">
		<a class="btn btn-primary" href="/"> Add note </a>
</div>

{% if user.notes %}

<ul class="list-group list-group-flush" id="notes">
	{% for note in user.notes %}
	<li class="list-group-item">
		<div class="content">
		{{user.notes.index(note)+1}} --> {{ note.data }}
		</div>
	<button type="button" class="close" onClick="deleteNote({{ note.id }})">
			<span aria-hidden="true">&times;</span>
	</button>
	</li>
	{% endfor %}
</ul>

{% else %}
<br/>
<div align="center">
	<p>YOU DO NOT HAVE ANY SAVED NOTES </p>
</div>
{% endif %}

{% endblock %}
